@model SmartMotoRental.Models.RentalOrder

@{
    ViewData["Title"] = "Đặt Thuê Xe Máy";
}

<div class="container mt-5">

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">@TempData["Success"]</div>
    }

    <h3 style="color: #11bae9;" class="text-center">Đặt Thuê Xe Máy</h3>
    <p class="text-center">Chọn địa điểm và thuê xe phù hợp với lịch trình của bạn</p>

    <form asp-action="DatXe" method="post">
        <div class="row">
            <div class="col-3"></div>

            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h5 style="color: #11bae9;">Địa Điểm Thuê & Trả Xe</h5>
                    </div>

                    <div class="card-body">

                        <div class="mb-3">
                            <label>Địa Điểm Nhận Xe</label>
                            <input asp-for="PickupLocation" type="text"
                                   class="form-control" placeholder="Ví dụ: Đà Nẵng, Sân Bay Đà Nẵng" required />
                        </div>

                        <div class="mb-3 mt-3">
                            <label>Địa Điểm Trả Xe</label>
                            <input asp-for="ReturnLocation" type="text"
                                   class="form-control" placeholder="Mặc định giống điểm nhận" required />
                        </div>

                        <div class="row mt-3">
                            <div class="col-6">
                                <label>Ngày Nhận Xe</label>
                                <input asp-for="PickupDate" type="datetime-local" class="form-control" required />
                            </div>

                            <div class="col-6">
                                <label>Ngày Trả Xe</label>
                                <input asp-for="ReturnDate" type="datetime-local" class="form-control" required />
                            </div>
                        </div>

                        <div class="text-end">
                            <button class="mt-3 btn btn-success">Tìm xe</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-3"></div>
        </div>
    </form>
</div>
